<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/DriveB/Java/Capstone2/src/main/java/org/example/capstoneProject.java">
        <classes>
            <class name="org.example.capstoneProject">
                <methods>
                    <include name="Execution"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>